<ion-header translucent>
  <ion-toolbar>
    <ion-back-button defaultHref="/home" slot="start"></ion-back-button>
    <ion-title>Uldum</ion-title>
  </ion-toolbar>
  <div id="tituloPagina">
    <ion-item color="medium" >
      <ion-label>
        Editar
      </ion-label>
    </ion-item>
  </div>
</ion-header>
<ion-content>
  <ion-content fullscreen>
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit(form.value)">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input
            required
            type="text"
            autocomplete
            autocorrect
            formControlName="nombre"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-input
            required
            type="text"
            autocomplete
            autocorrect
            formControlName="descripcion"
          ></ion-input>
        </ion-item>
        <!--Map de comodidades below--------------------------------->
        <ion-item>
          <ion-label>Comodidades</ion-label>
        </ion-item>
        <!--Aire Acondicionado-->
        <ion-list>
          <ion-item>
            <ion-checkbox
              formControlName="ac"
              color="dark"
              slot="start"
            ></ion-checkbox>
            <ion-label> Aire Acondicionado</ion-label>
          </ion-item>
          <!--Cocina equipada-->
          <ion-item>
            <ion-checkbox
              formControlName="cocina"
              color="dark"
              checked
              slot="start"
            ></ion-checkbox>
            <ion-label>Cocina Equipada</ion-label>
          </ion-item>
          <!--Pet Friendly-->
          <ion-item>
            <ion-checkbox
              formControlName="mascotas"
              color="dark"
              checked
              slot="start"
            ></ion-checkbox>
            <ion-label>Pet Friendly</ion-label>
          </ion-item>
          <!--Piscina-->
          <ion-item>
            <ion-checkbox
              formControlName="piscina"
              color="dark"
              checked
              slot="start"
            ></ion-checkbox>
            <ion-label>Piscina</ion-label>
          </ion-item>
          <!--Wifi-->
          <ion-item>
            <ion-checkbox
              formControlName="wifi"
              color="dark"
              checked
              slot="start"
            ></ion-checkbox>
            <ion-label>Conexión a Internet Wifi</ion-label>
          </ion-item>
        </ion-list>
        <!--End Map-------------------------------------------------->
        <ion-item>
          <ion-label position="floating">Precio</ion-label>
          <ion-input
            required
            type="text"
            autocomplete
            autocorrect
            formControlName="precio"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Imagen</ion-label>
          <ion-input
            required
            type="text"
            autocomplete
            autocorrect
            formControlName="imagen"
          ></ion-input>
        </ion-item>
      </ion-list>
      <ion-button fill="outline" color="success" type="submit" shape= "round"  
      [disabled]="!form.valid">Modificar</ion-button>
    </form>
  </ion-content>
</ion-content>
