<ion-header>
  <ion-toolbar>
      <ion-back-button defaultHref="/home" slot="start"></ion-back-button>
  <ion-title>Uldum</ion-title>
  </ion-toolbar>
  <div id="tituloPagina">
    <ion-item color="medium" >
      <ion-label>
        Reservar
      </ion-label>
    </ion-item>
  </div>
</ion-header>

<ion-content>
    <div class="container">
        <p> </p>
        <p> </p>
        <form class="form-inline">
            <div class="form-group">
            <div class="input-group">
                <input
                #myRangeInput
                class="form-control" 
                placeholder="mm/dd/yyyy - mm/dd/yyyy"
                name="dp" 
                [(ngModel)]="model" 
                ngbDatepicker
                [autoClose]="'outside'" 
                [dayTemplate]="t"
                [autoClose]="false"
                [displayMonths]="1"
                [minDate]="today"
                #d="ngbDatepicker" [markDisabled]="isDisabled">
        
                <ng-template #t let-date="date" let-focused="focused" let-disabled="disabled">
                    <span class="custom-day" 
                    [class.text-muted]="disabled"
                        [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
                        [class.faded]="isHovered(date) || isInside(date)"
                        (click)="!disabled && onDateSelection(date)"
                        (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null"
                        >
                    {{ date.day }}
                    </span>
                </ng-template>
                <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"> ABRIR </button>
                </div>
            </div>
            </div>
        </form>
        <pre>Desde: Dia {{ fromDate.day }}, Mes {{ fromDate.month }}</pre>
        <pre>Hasta: Dia {{ toDate.day }}, Mes {{ toDate.month }}</pre>
        
        <!-- <li *ngFor="let fechas of fechasReservadas">fechas: {{fechas}}</li> -->
    </div>

  <section>
    <ion-button  expand="block" color="success" (click)="onClick()">Confirmar reservacion</ion-button>
  </section>

</ion-content>
