<ion-header translucent>
  <ion-toolbar>
    <ion-back-button defaultHref="/home" slot="start"></ion-back-button>
    <ion-title>Uldum</ion-title>
  </ion-toolbar>
  <div id="tituloPagina">
    <ion-item color="medium">
      <ion-label> {{item.nombre}} </ion-label>
    </ion-item>
  </div>
</ion-header>
<ion-content>
  <ion-content fullscreen>
    <ion-list lines="full">
      <div class="contenido" scrollY="true">
        <div class="polaroid">
          <img [src]="item.imagen" [alt]="item.nombre" />
          <div class="container"></div>
        </div>
        <ion-item>
          <ion-icon slot="start" name="help-sharp"></ion-icon>
          <p>{{item.descripcion}}</p>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="compass-sharp"></ion-icon>
          <ion-list>
            <ion-item>
              <ion-label>Latitud: {{ item.ubicacion.lat }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Longitud: {{ item.ubicacion.long }}</ion-label>
            </ion-item>        
          </ion-list>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="bed-sharp"></ion-icon>
          <ion-list>
            <div *ngIf="ac">
              <ion-item>
                <ion-label> Aire Acondicionado</ion-label>
              </ion-item>
            </div>
            <div *ngIf="cocina">
              <ion-item>
                <ion-label>Cocina Equipada</ion-label>
              </ion-item>
            </div>
            <div *ngIf="mascotas">
              <ion-item>
                <ion-label>Mascotas permitidas</ion-label>
              </ion-item>
            </div>
            <div *ngIf="piscina">
              <ion-item>
                <ion-label>Piscina</ion-label>
              </ion-item>
            </div>
            <div *ngIf="wifi">
              <ion-item>
                <ion-label>Conexión a Internet Wifi</ion-label>
              </ion-item>
            </div>
          </ion-list>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="pricetags"></ion-icon>
          <p>{{item.precio}}</p>
        </ion-item>
        <section>
          <ion-button expand="block" fill="outline" color="success" shape="round"
            [routerLink]="['/propiedades/reservar', item.id]">Reservar</ion-button>
        </section>
      </div>
    </ion-list>
  </ion-content>
</ion-content>
