<ion-app style="margin-left: 20px">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-back-button defaultHref="/home" slot="start"></ion-back-button>
      <ion-title>USUARIO</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="pagina">
    <div class="col-md-4 col-md-offset-4">
      <div *ngIf="user.provider != 'password'" class="card-body">
        <h4 class="card-title">{{ user.name }}</h4>
        <p class="card-text">
          This is an example of Social Authentication using Firebase in an
          Angular 7 web app.
        </p>
      </div>
      <div *ngIf="user.provider == 'password'" class="card">
        <form [formGroup]="profileForm">
          <div class="form-group">
            <ion-item>
              <ion-avatar slot="start">
                <img
                  src="https://api.adorable.io/avatars/285/abott@adorableg"
                />
              </ion-avatar>
              <input
                type="text"
                formControlName="name"
                class="form-control"
                required
              />
            </ion-item>
            <ion-button
            expand="full"
            fill="outline"
            color="medium"
            shape="round"
              (click)="save(profileForm.value)"
              >Guardar nombre</ion-button
            >
          </div>
        </form>
      </div>
      <div class="botones">
        <ion-label>Acciones...</ion-label>
        <ion-button
        expand="full"
        fill="outline"
        color="success"
        shape="round"
        (click)="agregar()"
        >Nueva Propiedad</ion-button
      >
      <ion-button
        expand="full"
        fill="outline"
        color="primary"
        shape="round"
        (click)="goByUser()"
        >Ver mis propiedades</ion-button
      >
      </div>      
    </div>
  </ion-content>
</ion-app>
