<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      REGISTRARSE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="pagina">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form [formGroup]="registerForm">
          <div id="form">
            <div class="form-group">
              <label>Correo: </label>
              <input type="email" formControlName="email" class="form-control">
            </div>
            <div class="form-group">
              <label>Clave: </label>
              <input type="password" class="form-control" formControlName="password">
              <label class="error">{{errorMessage}}</label>
              <label class="success">{{successMessage}}</label>
            </div>
            <ion-button fill="outline" color="success" type="submit" shape= "round"
             (click)="tryRegister(registerForm.value)">Registrarse</ion-button>
          </div>          
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <p>Ya tienes una cuenta? <a href="/login">Ingresar</a></p>
      </div>
    </div>
  </div>
</ion-content>
